@media only screen and (max-width: 480px) {

	.login .content {
	  width: 100% !important;
	}

	.site-logo img {
	  height: 35px;
	  margin: 10px 5px;
	}

	.h2, h2 {
		font-size: 15px;
	}
	
	.h4, h4 {
		font-size: 13px;
	}
	
	.main-component {
		width: 100%;
	}
	
	.btn-featured {
		width: 100%;
	}
}