@media (max-width: 767px) {
	.hidden-xs {}
	.site-logo img {
		height: 35px;
		margin: 10px 5px;
	}

	.h2, h2 {
		font-size: 19px;
	}
	.h3, h3 {
		font-size: 18px;
	}
	.h4, h4 {
		font-size: 17px;
	}
	
	.main-component {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {}
	.btn {
	  font-size: 13px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {}
}
@media (min-width: 1200px) {
	.hidden-lg {}
}
